@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;500;700;900&family=Shrikhand&display=swap');

$Primaire: #9356DC;
$Secondaire :#FF79DA;
$Tertiaire :#99E2D0;

$font-texte :'Roboto',sans-serif;
$font-title : 'Shrikhand',cursive;