@import "./varibles.scss";

// https://piccalil.li/blog/a-modern-css-reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  position: relative;
  font-family: $font-texte;
  font-weight: 500;
  background: white;
}
.disappear {
  animation: vanish 1s forwards;
  animation-delay: 1s;
}
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #353839;
  z-index: 1000;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid $Primaire;
  border-radius: 20%;
  animation: loader 1s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: $Secondaire;
  animation: loader-inner 2s infinite ease-in;
}
.restaurant-like {
  svg:hover path {
    fill: url(#svghover);
    stroke: transparent;
  }
}
.button-gradient-container{
  display: flex;
  justify-content: center;
}
.button-gradient{
    margin-top: 27px;
    width: 231px;
    border: none;
    border-radius: 25px;
    padding: 13px 18px;
    color: white;
    background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
.button-gradient:hover {
  opacity: 85%;
  background: linear-gradient(0deg, #9356dc 0.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
h1 {
  font-family: $font-title;
}
a {
  text-decoration: none;
  color: black;
}
header {
  display: flex;
  flex-direction: column;
  background-color: white;
  .logo-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    img {
      width: 160px;
    }
    .go-back{
      width: 30px;
    }
  }
  .localisation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #eaeaea;
    p {
      font-size: 16px;
      margin-left: 17px;
    }
  }
}
.hero {
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  color: #353535;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 300px;
  background: #f6f6f6;
  &-title {
    margin-top: 39px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    color: black;
  }
}
.fonctionnement {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0px 20px;
  &-title {
    margin-top: 48px;
    font-size: 24px;
    font-weight: 700;
  }
  .container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 68px;
    .number {
      width: 24px;
      height: 24px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 35px;
      font-size: 14px;
      color: white;
      background: $Primaire;
      border-radius: 50%;
    }
    .info-fonctionnement {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 322px;
      height: 72px;
      margin-bottom: 24px;
      border-radius: 20px;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      p {
        width: 211px;
        font-size: 16px;
        margin-left: 23px;
        background: #fff;
      }
    }
  }
}
.annonce-restaurant {
  width: 100%;
  padding: 0px 15px;
  background-color: #F6F6F6;
  .restaurant-title {
    padding-top: 54px;
    font-size: 24px;
    font-weight: 700;
  }
  .restaurants-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    a {
      width: 100%;
      margin-bottom: 18px;
      text-decoration: none;
      position: relative;
      color: black;
      font-size: 17px;
      font-weight: 300;
      .status-new {
        width: 80px;
        border-radius: 2px;
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $Tertiaire;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        p {
          display: flex;
          justify-content: center;
          padding: 7px 9px;
          font-size: 14px;
          font-weight: 500;
          color: #008766;
        }
      }
    }
    .restaurant {
      width: 100%;
      height: 251px;
      padding-bottom: 13px;
      border-radius: 15px;
      background: #ffffff;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
      .restaurant-container-img {
        img {
          width: 100%;
          height: 180px;
          object-fit: cover;
          border-radius: 15px 15px 0px 0px;
        }
      }
      .restaurant-container-texte {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 25px 0px 13px;
        h3 {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}
footer {
  height: 186px;
  margin-top: 50px;
  padding: 22px 25px;
  background-color: #353535;
  h1 {
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-bottom: 16px;
  }
  ul {
    list-style: none;
    li {
      a {
        display: flex;
        color: white;
      }
      font-size: 16px;
      font-weight: 400;
      strong {
        font-weight: 500;
        margin-left: 11px;
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    .fonctionnement {
      padding: 0px 80px;
    }
    .annonce-restaurant {
      width: 100%;
      padding: 0px 80px;
    }
  }
}
@media (min-width: 1024px) {
  body {
    header .logo-container {
      height: 96px;
      img {
        width: 200px;
      }
    }
    .hero {
      height: 240px;
      &-title {
        font-size: 40px;
        margin-bottom: 18px;
      }
    }
    .fonctionnement {
      &-title {
        margin-left: 0px;
      }
      .container-info {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 50px;
        .number {
          position: absolute;
          left: -10px;
        }
        .info-fonctionnement {
          position: relative;
          width: 322px;
          height: 72px;
          margin-bottom: 0px;
        }
      }
    }
    .annonce-restaurant {
      width: 100%;
      padding: 0px 20px;
      .restaurants-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        a {
          width: 40%;
          margin-bottom: 50px;
        }
      }
    }
    footer {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      height: 114px;
      margin-top: 30px;
      padding: 30px 25px;
      h1 {
        margin-bottom: 0px;
        margin-left: 40px;
      }
      ul {
        display: flex;
        li {
          margin-left: 20px;
        }
      }
    }
  }
}
@media (min-width: 1440px) {
  body {
    .fonctionnement {
      padding: 0px 180px;
    }
    .annonce-restaurant {
      padding: 0px 180px;
      .restaurants-container {
        a {
          width: 490px;
        }
      }
    }
  }
}
@media (min-width: 1700px) {
  body {
    .fonctionnement {
      padding: 0px 180px;
      .container-info {
        justify-content: center;
        .info-fonctionnement {
          margin: 0px 30px 30px 30px;
        }
      }
    }
    .annonce-restaurant {
      .restaurants-container {
        justify-content: center;
        a {
          margin: 0px 30px 30px 30px;
        }
      }
    }
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

// Menu//
  .go-back{
    position: absolute;
    top: 10px;
    left: 20px;
  }

.hero-restaurant{
  width: 100%;
  height: 275px;
  img{
    object-fit: cover;
    width: 100%;
    height: 275px;
  }
}
.menu-entrees,.menu-plats,.menu-desserts{
  margin-top: 40px;
  &-title{
    div{
      width: 40px;
      border: solid 2px $Tertiaire;
    } 
  }
}
.menu{
  position: relative;
  background-color: #F6F6F6;
  border-radius: 25px;
  border: solid transparent;
  padding: 0px 15px;
  top: -30px;
  h2{
    font-size:16px;
    font-weight:300;
    text-transform: uppercase;
  }
  &-title-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 32px;
    .menu-title{
      font-size: 28px;
      font-weight: 400;
    }
  }
  .card:hover{
    .select{
      display: flex;
    }
  }
  .card{
    height: 79px;
    display: flex;
    padding-left: 15px;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    margin-top: 12px;
    border-radius: 15px;
    .prix{
      padding: 0px 15px 15px 0px;
    }
    .select{
      display: none;
      justify-content: center;
      align-items: center;
      background-color: $Tertiaire;
      width: 59px;
      height: 79px;
      border-radius: 0px 15px 15px 0px;
      svg{
        width: 100%;
      }
    }
    .entrees-name,.plat-name,.desserts-name{
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      margin-bottom: 15px;
      width: 90%;
      h3,p{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      h3{
        font-size: 18px;
        font-weight: 500;
      }
      p{
        margin-right: 3px;
        font-size: 15px;
        font-weight: 300;
      }
    }
  }
}

@media (min-width: 1024px) {
  .menu{
    margin:0% 15%;
    padding: 15px 60px;
    &-title{
      margin-right:24px;
    }
    &-title-container{
      justify-content: center;
    }
  }
  .go-back{
    position: absolute;
    top: 30px;
    left: 20px;
  }
}
@media (min-width: 1440px) {
  .menu{
    margin:0px 250px;
    padding: 15px 210px;
  }
}