@import "./utils/varibles.scss";
@import "./pages/home.scss";
@import "./pages/menu.scss";
@import "./base/reset.scss";


body {
  position: relative;
  font-family: $font-texte;
  font-weight: 500;
  background: white;
}

h1 {
  font-family: $font-title;
}
a {
  text-decoration: none;
  color: black;
}
